<div class="container">
    <div class="row">
        @if (item) {
      <div class="col-md-12">
        <img src="{{ item.imgUrl }}" alt="{{ item.name }}"  height="30%">
        <h1>Name:</h1>
        <h2>{{ item.name }}</h2>
        <h1>Description:</h1>
        <p>{{ item.descp }}</p>
        
        <h1>Price:</h1>
        <p><strong>${{ item.price }}</strong></p>
        <a (click)="addToCart(item)"  class="btn btn-success">Add to Cart</a>
      </div>}@else {
      <div class="col-md-12 text-center" >
        <p class="alert alert-secondary">Product not found.</p>
      </div>
    }
    </div>
  </div>