<div class="container mt-3">
    <h2>Your Cart</h2>
     @if (cartItems.length === 0) {
    <div>
      <p>Your cart is currently empty.</p>
    </div>
}@else{
    <div class="row" >
        @for (item of cartItems; track $index) {
      <div class="col-md-6 col-lg-4 mb-3" >
        <div class="card">
          <img [src]="item.imgurl" class="card-img-top" alt="{{ item.name }}" height="300px">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">${{ item.price }}</p>
            <button class="btn btn-danger btn-sm" (click)="removeFromCart(item)">Remove</button>
          </div>
        </div>
      </div>
    }
    </div>
  
    <div class="row" >
      <div class="col-md-12">
        <h1>Total Price:</h1>
        <button class="btn btn-success float-end">Checkout</button>
      </div>
    </div>
}
  </div>
