.btn{
    margin-right: 30px;
    
}
.container{
    padding: 30px;
}
.card-text {
    height: 50px; 
    overflow-y: auto; 
  }
  .head{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
