<div class="container">
    <div class="head text-center">
        <h1>WELCOME TO E-STORE</h1>
        <p>Explore our vast selection of cutting-edge PCs, sleek smartphones, and powerful laptops designed to cater to every need and budget. From the latest gaming rigs with blazing-fast processors and top-of-the-line graphics cards to ultra-portable laptops perfect for productivity on the move, we have the perfect device to match your lifestyle.</p>
    </div>
    <div class="container">
        <div class="body row justify-content-center text-center"> 
            <div class="col-lg-6 mb-3"> 
                <a routerLink="/computer">
                    <div class="card"> 
                        <img src="\assets\Computer.jpg" class="card-img-top" alt="..." style="height: 400px;">
                        <div class="card-body">
                            <h1 class="card-text">Computers</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-3"> 
                <a routerLink="/laptop">
                    <div class="card"> 
                        <img src="\assets\laptop.jpg" class="card-img-top" alt="..." style="height: 400px;">
                        <div class="card-body">
                            <h1 class="card-text">Laptops</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-3"> 
                <a routerLink="/mobile">
                    <div class="card"> 
                        <img src="\assets\mobile.jpeg" class="card-img-top" alt="..." style="height: 400px;">
                        <div class="card-body">
                            <h1 class="card-text">Mobiles</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-3"> 
                <a routerLink="/tablets">
                    <div class="card"> 
                        <img src="\assets\tablets.jpg" class="card-img-top" alt="..." style="height: 400px;">
                        <div class="card-body">
                            <h1 class="card-text">Tablets</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
